__pycache__/
test/
allNotes/

assets/cow-dancing.gif
assets/cow-spinning.gif
assets/spinningCow
assets/paintTest.png
assets/snazzyGort.jpg
assets/spaceShip1.png
assets/spaceShip2.png
assets/spaceShip3.png

test.py
todo.py

circleTest.py
errors.txt
key.key